data
outputs
renders
purr_data_pillars
purr_data
blend_files
body.ply
statues.obj
stonehenge.ply
catnips/bounds.json
catnips/camera_path_blender.json
catnips/flightroom.blend
catnips/flightroom.blend1
catnips/flr.blend
catnips/flr.blend1
catnips/statues.blend
catnips/statues.blend1
catnips/stonehenge.blend
catnips/stonehenge.blend1
catnips/catnips_data/flightroom/path.json
catnips/catnips_data/flightroom/purr/conv_centers.npy
catnips/catnips_data/flightroom/purr/field.npy
catnips/catnips_data/flightroom/purr/kernel.npy
catnips/catnips_data/flightroom/purr/meta.json
catnips/catnips_data/flightroom/purr/points.npy
catnips/catnips_data/flightroom/purr/pug.ply
catnips/catnips_data/flightroom/purr/purr.npy
catnips/catnips_data/flightroom/purr/purr.ply
catnips/catnips_data/flightroom/purr/voxel.ply
catnips/catnips_data/statues/purr/conv_centers.npy
catnips/catnips_data/statues/purr/field.npy
catnips/catnips_data/statues/purr/kernel.npy
catnips/catnips_data/statues/purr/meta.json
catnips/catnips_data/statues/purr/points.npy
catnips/catnips_data/statues/purr/pug.ply
catnips/catnips_data/statues/purr/purr.npy
catnips/catnips_data/statues/purr/purr.ply
catnips/catnips_data/statues/purr/voxel.ply
catnips/catnips_data/stonehenge/path.json
catnips/catnips_data/stonehenge/purr/conv_centers.npy
catnips/catnips_data/stonehenge/purr/field.npy
catnips/catnips_data/stonehenge/purr/kernel.npy
catnips/catnips_data/stonehenge/purr/meta.json
catnips/catnips_data/stonehenge/purr/points.npy
catnips/catnips_data/stonehenge/purr/purr.npy
catnips/catnips_data/stonehenge/purr/purr.ply
catnips/catnips_data/stonehenge/purr/voxel.ply
catnips/corridor/__pycache__/bounds_utils.cpython-38.pyc
catnips/corridor/__pycache__/bounds.cpython-38.pyc
catnips/corridor/__pycache__/init_path.cpython-38.pyc
catnips/exports/mesh/material_0.mtl
catnips/exports/mesh/material_0.png
catnips/exports/mesh/mesh.obj
catnips/exports/mesh/poisson_mesh.ply
catnips/nerf/__pycache__/nerf.cpython-38.pyc
catnips/planner/bounds.json
catnips/planner/__pycache__/mpc.cpython-38.pyc
catnips/planner/__pycache__/spline_planner.cpython-38.pyc
catnips/planner/__pycache__/splines_utils.cpython-38.pyc
catnips/planner/__pycache__/splines.cpython-38.pyc
catnips/purr/__pycache__/purr_utils.cpython-38.pyc
catnips/purr/__pycache__/purr_utils.cpython-39.pyc
catnips/purr/__pycache__/purr.cpython-38.pyc
nerf-nav/baselines/nav/__pycache__/__init__.cpython-38.pyc
nerf-nav/baselines/nav/__pycache__/__init__.cpython-39.pyc
nerf-nav/baselines/nav/__pycache__/agent_helpers.cpython-38.pyc
nerf-nav/baselines/nav/__pycache__/agent_helpers.cpython-39.pyc
nerf-nav/baselines/nav/__pycache__/estimator_helpers.cpython-38.pyc
nerf-nav/baselines/nav/__pycache__/estimator_helpers.cpython-39.pyc
nerf-nav/baselines/nav/__pycache__/math_utils.cpython-38.pyc
nerf-nav/baselines/nav/__pycache__/mpc_utils.cpython-38.pyc
nerf-nav/baselines/nav/__pycache__/mpc_utils.cpython-39.pyc
nerf-nav/baselines/nav/__pycache__/quad_helpers.cpython-38.pyc
nerf-nav/baselines/nav/__pycache__/quad_helpers.cpython-39.pyc
nerf-nav/baselines/nav/__pycache__/quad_plot.cpython-38.pyc
nerf-nav/baselines/nav/__pycache__/quad_plot.cpython-39.pyc
nerf-nav/baselines/nav/__pycache__/utils.cpython-38.pyc
results_processed/catnips/stonehenge/data.json
